h1,h2,h3 {
  color:#728696;
}

html, body {
  background-color: #fbfbf8;
  font-family: 'Karla', sans-serif;
}
ul {
  color: #C9BFB5;
  }
  /*love*/
a:link, a:visited{
    color: #C9BFB5;
  }
  /*hate*/
a:hover, a:active {
  background-color: #C9BFB5;
  color:#728696;
  }
