html{
  font-family: 'Lora', serif;
}

.name{
  width: 100%;
}

img{
  height: 180px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Add a same background color to the top navigation as screen background */
.topnav {
  background-color: #fbfbf8;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color: #fbfbf8
  float: center;
  color: #342724;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #DED0CD;
  color: black;
}

body{
  background-color: #fbfbf8;
  /**light tan**/
  color: #342724;
  /**text is dark brown/black**/
}


.image-grid {
  width: 100%;
  height: 100%;
}

.grid_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    ". blue blue"
    "gb ivory .";
  grid-gap: 1rem;
  /**rem is **/
  /**grid-gap is space between the boxes while grid-row-gap is space between rowa**/
  grid-row-gap:1rem;
  margin-bottom: 4rem;
  margin-top: 5rem
}

/**body{
  font-size: 1.6rem;
}**/

.box{
   min-height: 200px;
}
.ivory{
  grid-area: ivory;
  align-self: end;
}
.blue{
  grid-area: blue;
  background-color: #C0E6E5;
}
.gb{
  grid-area: gb;
  background-color: #C0DAD9;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbfbf8;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #fbfbf8;
  float: center;
  color: #342724;
  font-size: 14px;
}

/* Change the link color on hover */
li a:hover {
  background-color: #DED0CD;
  color: black;
}


.footer {
  padding: 1px;
  text-align: center;
  background: #DED0CD;
  margin-top: 10px;
  margin-bottom: 2px;
}
