html{
  font-family: 'Lora', serif;
}

.name{
  width: 100%;
}

img{
  height: 180px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Add a same background color to the top navigation as screen background */
.topnav {
  background-color: #fbfbf8;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color: #fbfbf8
  float: center;
  color: #342724;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #DED0CD;
  color: black;
}

body{
  background-color: #fbfbf8;
  /**light tan**/
  color: #342724;
  /**text is dark brown/black**/
}

.image-grid {
  width: 100%;
  height: 100%;
}

.image-grid-tall {
  width: 700px;
  height: 370px;
}

.image-grid-eye {
  width: 300px;
  height: 300px;
}

.grid_container{
  display: grid;
  grid-template-columns:370px 1fr 1fr;
  grid-template-rows: 130px 1fr;
  grid-template-areas:
    "blue blue blue"
    "gb ivory .";
  grid-gap: 1rem;
  /*grid-gap is space between the boxes while grid-row-gap is space between rows*/
  grid-row-gap:2rem;
  margin-bottom: 4rem;
  margin-top: 5rem
}

.grid_container_2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 400px;
  grid-template-areas:
    "grid2-words grid2-photo1 grid2-photo1"
    "grid2-photo2 grid2-words2 .";
  grid-row-gap:5rem;
  grid-gap: 1rem;
}

.grid_container_3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "grid3-words grid3-photo1";
  grid-gap:5rem;
  margin-top: 20px;
}

.box{
   min-height: 200px;
}
.ivory{
  grid-area: ivory;
  align-self: end;
}
.blue{
  grid-area: blue;
  background-color: #fbfbf8;
}
.gb{
  grid-area: gb;
  background-color: #C0DAD9;
}

.grid2-photo1{
  grid-area: grid2-photo1;
}

.grid2-words{
  grid-area: grid2-words;
}

.grid2-photo2{
  grid-area: grid2-photo2;
}

.grid2-words2{
  grid-area: grid2-words2;
}

.grid3-photo1{
  grid-area: grid3-photo1;
}

.grid3-words{
  grid-area: grid3-words;
}
